name: linter

on: push

jobs: 
  linter:
    name: linter code base
    runs-on: ubuntu-latest
      steps: 
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Run linter
          uses: github/super-linter@v2
          env:
            DEFAULT_BRANCH: newBranch
            GITHUB_TOEKN: ${{ secrets.GITHUB_TOEKN }}